@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background: rgb(190, 215, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.separador
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(0,0,0,0.1);
}
.separador .lado_esquerdo
{
    position: relative;
    background: rgb(21, 73, 116);
    padding: 25px;
}
.perfiltexto
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(255,255,255,0.2);
}
.perfiltexto .foto
{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}
.perfiltexto .foto img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfiltexto h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
.perfiltexto h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contato
{
    padding-top: 60px;
}
.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contato ul
{
    position: relative;
}
.contato ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contato ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(115, 189, 223);
}
.contato ul li span 
{
    color: #fff;
}

.separador .lado_direito
{
    position: relative;
    background: white;
    padding: 40px;
}
.sobre
{
    margin-bottom: 50px;
}
.sobre:last-child
{
    margin-bottom: 0;
}
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: black;
}